<style>
#stripes, #stripes span {
    position: absolute;
    height: 190px;
}


</style>

<div id="stripes" aria-hidden="true"  style="
    width: 100%;
    height: 387px;
    yyoverflow: hidden;
    -webkit-transform: skewY(-12deg);
    transform: skewY(-6deg);
    -webkit-transform-origin: 0;
    transform-origin: 0;
    /* background: linear-gradient(150deg,#ea504f 15%,#f9b80045 70%,#ea504f63 94%); */
    z-index: 1;
    opacity: 0.4;
    top: 297px;
">
    <span class="to-animate" style="
    width: 33.33333%;
    left: -16.66666%;
    background: #ea504f8a;
"></span>
    <span class="to-animate" style="
    width: 60px;
    top: 0;
    left: 16.66666%;
    right: auto;
    background: #f9b80012;
"></span>
    <span class="to-animate" style="
    width: 33.33333%;
    left: 49.99999%;
    bottom: auto;
    background: #ea504f4d;
"></span>
    <span class="to-animate" style="
    width: 33.33333%;
    top: 380px;
    right: -16.66666%;
    background: #f9b90057;
"></span>
    <span class="to-animate" style="
    width: 33.33333%;
    bottom: 0;
    background: #f9b9003d;
"></span>
</div>